
	<div class="proposition">
		
		<div class="proposition-important">
			<div class="depart">
				<h4><span class="darker">Départ:</span> <%= proposition_covoiturage.depart %></h4> 
			</div>
			<div class="places">
				<h4><span class="darker">Places:</span> <%= proposition_covoiturage.places %></h4>
			</div>
		</div>
		<div class="proposition-contact">
			<div class="email">
				<h4><%= mail_to proposition_covoiturage.email, "Envoyer un email" %></h4>
			</div>
			
			<div class="telephone">
				<h4><%= proposition_covoiturage.telephone %></h4>
			</div>
		</div>
		<div class="proposition-annexe">
			<span class="name">
				Proposé par <strong><%= proposition_covoiturage.name %></strong>
			</span>
			<span class="supprimer">
				<%= link_to "Supprimer", proposition_covoiturage, :method => :delete, :remote => true, :confirm => "Etes-vous sûr(e) ?", :title => "Supprimer la proposition" %>
			</span>
		</div>
	</div>

