
<header>
	<div class="row">
		<div class="span9 offset7">
			<h1>Mariage de Renaud et Stéphanie</h1>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset8">	
			<nav>
				<ul>
					<li><%= link_to "Infos pratiques", root_path %></li>
					<li><%= link_to "Présentation", presentation_path %></li>
					<li><%= link_to "Trajet", trajet_path %></li>
					<li><%= link_to "Covoiturage", covoiturage_path %></li>
					<li><%= link_to "Logement", logement_path %></li>
					<li><%= link_to "Liste", liste_path %></li>
					<li><%= link_to "Photos", photos_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
