
<header>
	<div class="row">
		<div class="span9 offset7 info-mariage">
			<h1>Mariage de Stéphanie et Renaud</h1>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset8 info-mariage">	
			<nav>
				<ul>
					<li><%= link_to "Horaires", root_path %></li>
					<li><%= link_to "Présentation", presentation_path %></li>
					<li><%= link_to "Trajet", trajet_path %></li>
					<li><%= link_to "Covoiturage", covoiturage_path %></li>
					<li><%= link_to "Logement", logement_path %></li>
					<li><%= link_to "Liste", liste_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
